.App{
  background-color: rgb(251, 251, 251);}
button {

  background-color: rgb(255, 8, 8);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
}

.myListContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "row row row"
  
}

.myRecommendationsContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "row row row"
}

.row{ text-align: center;
  width:50%;}

.myListDisplayBottom{
  text-align: center;
}
.myList{
  text-align: center;
}
.myRecommendations{
  text-align: center;
}
.titleWriting{
  font-size: 40px;
  text-align: center;
  color: rgb(47, 47, 47);
}